@import '../../../external/styles/_vars';

// Service selector
.service-selector {
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	margin-top: 10px;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.07);
	background: #fff;
	border-radius: 5px;
	z-index: 10;
	width: 100%;
	min-width: 370px;
	max-height: 210px;
	overflow: auto;
	text-transform: none;
	display: none;

	@media screen and (max-width: $breakpoint-4) {
		min-width: 0;
		max-width: 100%;
	}

	&.opened {
		display: block;
	}

	.plugin-listing {
		display: flex;
		color: $black-20;
		align-items: center;
		justify-content: flex-start;
		text-align: left;
		padding: 10px 20px;

		&:hover {
			background: rgba(0, 0, 0, 0.04);
		}

		.heading-4 {
			margin: 0 0 0 10px;
		}

		i span:not(:first-child):before {
			color: $black-20;
		}
	}
}
