@import '../../../external/styles/_vars';

.cn-dashboard {
	padding: 0 0 40px;

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		@media screen and (max-width: $breakpoint-3) {
			flex-direction: column;
			padding-bottom: 40px;
		}
	}

	h4 {
		font-size: 16px;
		text-align: center;
		margin-bottom: 20px;
	}

	.no-results {
		max-width: 100%;
		padding: 0 20px;

		.buttons-wrapper {
			margin: 40px 0;
		}
	}

	.components-wrapper {
		display: flex;
		justify-content: center;
		align-items: stretch;
		flex-wrap: wrap;

		> * {
			flex-basis: 360px;
			margin: 0 15px 30px;
		}
	}

	.search-components {
		margin: 0 40px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		background: #fff;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
		border-radius: 3px;

		@media screen and (max-width: $breakpoint-3) {
			flex-direction: column;
			margin: 0 10px;
			width: 90%;
		}

		input[type='text'],
		select {
			padding: 10px;
			font-size: 14px;
			background: #fff;
			font-family: $secondaryFont;
			color: #aab0be;
			font-weight: 300;
			background: none;
			border: none;
			border-right: 1px solid #f7f7f9;
			border-radius: 0;
			box-sizing: border-box;

			&::placeholder {
				color: #aab0be;
			}

			&:focus {
				color: #5c606b;
				border-right-color: #f7f7f9;
				box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
				outline: none;
			}

			&:active {
				outline: none;
			}

			@media screen and (max-width: $breakpoint-3) {
				margin-bottom: 10px;
				border-right: none;
				border-bottom: 1px solid #f7f7f9;
				width: 100% !important;

				&:focus {
					border-bottom-color: #f7f7f9;
				}
			}
		}

		input[type='text'] {
			width: 220px;
		}

		select {
			text-align: center;
			width: 160px;
		}

		.btn {
			border: none !important;
			background: $black-20;
			color: #fff;
			border-radius: 0 3px 3px 0;

			@media screen and (max-width: $breakpoint-3) {
				width: 100%;
			}

			&:hover {
				color: #fff;
				background: #111214;
			}
		}
	}

	.pagination {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;

		> * {
			margin: 0 10px;
			color: $black-20;
		}

		a {
			text-decoration: none;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 500;
			line-height: 1em;

			&:hover {
				span {
					text-decoration: underline;
				}
			}

			i,
			svg {
				margin: 4px;
			}
		}
	}
}

.code-popup {
	.popup-content {
		width: 680px;
		padding: 0;

		> h2 {
			margin: 0 0 20px;
			padding: 20px;
			background: #eaecf3;
		}

		.content {
			padding: 10px 40px 20px;
		}

		article {
			margin-bottom: 20px;
		}

		h4 {
			margin-bottom: 10px;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			span {
				background: $black-20;
				width: 20px;
				height: 20px;
				font-weight: 700;
				text-align: center;
				color: #fff;
				border-radius: 50em;
				margin-right: 7px;
			}
		}

		textarea {
			overflow: auto;
			height: 85px !important;
			max-height: 156px !important;
			resize: none;
			width: 100% !important;
			max-width: 100% !important;
			font-size: 14px;
			font-family: $secondaryFont;
			font-weight: 200;
			padding: 4px !important;

			&.div-value {
				height: 47px !important;
				max-height: 47px !important;
				min-height: 47px !important;
			}
		}
	}
}

.delete-popup {
	.popup-content {
		width: 520px;
		padding: 0;

		> h2 {
			margin: 0 0 20px;
			padding: 20px;
			background: #eaecf3;
		}

		.content {
			padding: 10px 40px 30px;
		}

		.buttons-wrapper {
			margin-top: 40px;
			padding: 0;

			> * {
				margin: 0 10px;
			}
		}
	}
}

.duplicate-popup {
	.popup-content {
		width: 520px;
		padding: 0;

		> h2 {
			margin: 0 0 20px;
			padding: 20px;
			background: #eaecf3;
		}

		.content {
			padding: 10px 40px 30px;
		}

		.buttons-wrapper {
			margin-top: 40px;
			padding: 0;

			> * {
				margin: 0 10px;
			}
		}
	}
}
