@import '../../../external/styles/_vars';

.popup.upgrade-popup {
  $popup-width: 90%;
  cursor: default;
  
  .popup-content {
    width: $popup-width;
    height: $popup-width;
    padding: 0;
    background: $black-30;

    .close-popup {
      color: #fff;
    }
  }

  section {
    padding: 0;

    iframe {
      width: 100%;
      min-height: 100%;
    }
  }
}