@import '../../../external/styles/_vars';

.publish-settings {
	.form-row.column {
		label {
			font-size: 14px;
			margin-bottom: 10px;
		}

		.button {
			height: 35px;
		}

		textarea {
			height: 120px;
			font-size: 15px;

			&::selection {
				background: #fff;
				color: $pink-10;
			}
		}
	}
}
