#viewer {
	position: relative;
	width: 100%;

	&.inline {
		display: inline-flex;
		width: auto;

		> * {
			flex: 1;
		}
	}

	.loading-error {
		position: relative;
		text-align: center;
		transform: none;
		left: 0;
		top: 0;
	}
}
